.homepage {
  background-image: linear-gradient(var(--gradient-1), var(--gradient-2), var(--gradient-3));
  flex-grow: 1;
  display: grid;
  align-content: space-around;
  justify-content: center;
}

.homepage > h1 {
  font-size: 3rem;
  color: var(--white);
}
