.homepage {
  background-image: linear-gradient(var(--gradient-1), var(--gradient-2), var(--gradient-3));
  flex-grow: 1;
  display: grid;
  align-content: center;
  justify-items: center;
}

.homepage > h1 {
  font-size: 3rem;
  color: var(--white);
  margin: 0;
}

.homepage > button {
  margin-top: 0.75rem;
  background-color: var(--main-color);
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: none;
}

.homepage > button:hover {
  background-color: var(--hover-color);
}

.homepage > button:active > a {
  color: var(--active-color);
}