@font-face {
  font-family: "Logo";
  src: url("../assets/MartianMono-ExtraBold.ttf");
}

.header {
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.logo > h1 {
  color: var(--white);
  font-family: Logo, Helvetica, sans-serif;
  font-size: 3.5rem;
  margin: 0;
}

.logo > img {
  height: 5rem;
}

.links {
  display: flex;
  align-items: center;
  font-weight: 900;
}

.links > a {
  text-decoration: none;
  padding: 1.5rem 0.5rem;
  border-radius: 0.5rem;
}

.links > a:hover {
  background-color: var(--hover-color);
  transition: background-color ease-in 0.25s;
}

.links > a:active {
  color: var(--active-color);
  transition: color ease-in-out 0.05s;
}

.cart {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.cartcount {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  color: orangered;
}

.active {
  background-color: var(--hover-color);
}
