@font-face {
  font-family: "Medium";
  src: url("./assets/NotoSans-Medium.ttf");
}

@font-face {
  font-family: "Bold";
  src: url("./assets/NotoSans-Bold.ttf");
}

:root {
  --white: rgb(94, 91, 91);
  --white-hover: rgb(119, 115, 115);
  --white-active: rgb(169, 164, 164);
  --main-color: rgb(112, 214, 255);
  --hover-color: rgb(172, 221, 240);
  --active-color: #b5b527;
  --header-color: #ecf9ff;
  --gradient-1: #fffbeb;
  --gradient-2: #ffe7cc;
  --gradient-3: #f8cba6;
  --light-grey: rgb(241, 241, 241);
  --light-white: #ffffff;
  --border-radius: 0.75rem;
  --item-padding: 0.75rem 0.5rem;
  --secondary-color: #f8cba6;
}

* {
  font-family: Medium;
  color: var(--white);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  max-width: 100%;
}

h1 {
  font-family: Bold;
}

a {
  text-decoration: none;
}
